KC_VERSION=26.7
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=changeme
KC_FEATURES=scim-api
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=changeme
KC_HTTP_PORT=8080
KC_MGMT_PORT=9000
KC_LOG_LEVEL=info
GRAFANA_VERSION=13.2
GRAFANA_HTTP_PORT=3000
GRAFANA_ADMIN_PASSWORD=changeme
GRAFANA_OIDC_CLIENT_SECRET=changeme
